.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1rem;
  background-color: lightblue;
  margin-bottom: 2em;
}

.app-header nav>*{
margin-inline-end: 0.75rem;
}