.book-data {
  text-transform: capitalize;
}

.book-data .book-title {
  font-size: 3rem;
  text-transform: capitalize;
}

.book-data .book-price {
  margin-top: 2rem;
  font-size: 2rem ;
}

.book-data ul {
  list-style: none;
  margin-top: 2rem;
}

.book-data ul li {
  display: inline-flex;
  color: white;
  padding: 8px;
  font-family: Arial;
  border-radius: 10px;
  margin-inline-end: 0.5rem;
  text-transform: uppercase;
}

.book-data .book-length {
  background-color: #2196F3
}
.book-data .book-seniority {
  background-color: #ff9800;
}
.book-data .book-onsale {
  background-color: #4CAF50
}

.book-description {
  margin: 1.5rem 0;
  border-radius: 15px;
}
