.book-container {
  padding: 1rem;
}

/* back button */

.book-container .back-btn {
  padding: 0.5rem;
  font-size: 1.5rem ;
  font-weight: bold;
  border: none;
  background-color: inherit;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: background-color  0.4s;
  border-radius: 10px;
}

.book-container .back-btn:hover {
  transition: 0.4s;
  color: #eee;
  background-color: black;
}

/* back button */

.book-container .book-image {
 flex: 1;
}

.book-container .book-image img{
  max-width: 300px;
}

.book-container .book-data {
  text-transform: capitalize;
  flex: 2;
  padding-inline-start: 2rem;
  min-width: 400px;
}

.book-props .book-title {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.book-props .price {
  margin-top: 2rem;
  font-size: 2rem ;
}

.book-computed li {
  display: inline-flex;
  font-family: Arial;
  color: white;
  border-radius: 10px;
  margin-inline-end: 0.5rem;
  text-transform: capitalize;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.book-data .book-length {
  font-weight: bold;
  background-color: #2196F3
}
.book-data .book-seniority {
  font-weight: bold;
  background-color: #ff9800;
}
.book-data .book-onsale {
  font-weight: bold;
  background-color: #4CAF50
}

.cheap {
  color: green;
}

.pricey {
 color: crimson;
}

