h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    font-size: 1.375rem;
    line-height: 1.27272727em;
}

ul {
    list-style: none;
}

.mail-app .btn {
    padding: 1em;
    background-color: transparent;
}

.mail-app .btn:hover {
    background-color: #dddd;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 1;
    /* padding: 1em; */
    text-align: center;
}

/* .mail-app .btn:hover {
    background-color: #dddd;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 1;
} */