.mail-list-container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgb(214, 214, 214);
    flex-grow: 1;
}

.mail-list-container li:not(:last-of-type){
    border-bottom: 1px solid rgb(214, 214, 214);
}

.mail-list-container li:hover {
   cursor: pointer;
}