.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar>* {
    margin-inline-start: 0.75em;
}

.side-bar>* :not(:last-child) {
    margin-bottom: 1em;
}

.side-bar .btn{
    margin-bottom: 2em;
}

.side-bar .icon {
    font-size: 1em !important;
    margin-inline-end: 0.5em;
}

.side-bar .btn {
    font-weight: 500;
    line-height: 2.2857;
    color: #3c4043;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1.5em;
    padding: 0 0.5em;
    background-color: #fff;
}