.mail-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.75em;
    font-family: roboto-bold;
    font-size: 0.875rem;
    line-height: 1.428em;
    color: #202124;
    position: relative;
}

.mail-preview.read {
    font-family: roboto;
}

/* .mail-preview > * {
  } */

.mail-preview .sender {
    flex-grow: 1;
}

.mail-preview .body {
    flex-grow: 2;
}

/* .sent-at {
    flex-grow: 1;
} */

.buttons-container {
    position: absolute;
    right: 0.75em;
}

.buttons-container .btn{
    background-color: #fff;
}

.buttons-container .icon {
    font-size: 1.5em !important;
}