.mail-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 0.875rem;
    line-height: 1.428em;
    color: #202124;
    position: relative;
}

.mail-preview .mail-sender, .mail-preview .mail-subject, .mail-preview .mail-sent-at{
    font-family: roboto-bold;
    font-weight: 700;
}

.mail-preview.read > *{
    font-family: roboto;
    font-weight: 400;
}

.mail-preview .mail-sender {
    flex-grow: 1;
}

.mail-preview .mail-body {
    flex-grow: 2;
}

/*.mail-preview .mail-sent-at {
    flex-grow: 1;
} */

.buttons-container {
    position: absolute;
    right: 0.75em;
}

.buttons-container .btn {
    background-color: #fff;
}

.buttons-container .icon {
    font-size: 1.5em !important;
}