.note-preview {
  border: 2px solid black;
  min-width: 250px;
  height: fit-content;
  position: relative;
  max-width: 300px;
}

.grabing {
  cursor: grabbing;
}

/* General */

.note-title {
  padding-inline-end: 0.5rem;
  cursor: grab;
}

.note-title i {
  margin-inline-start: 0.75rem;
  margin-inline-end: 0.75rem;
  font-size: 2rem !important;
}

.note-preview img{
  margin-bottom: 0.75rem;
  width: fit-content;
  width: 100%;
  max-height: 250px;
  cursor: grab;
}

.note-preview button {
  background: transparent;
}


/* Note controls */

.note-controls {
  opacity: 0.3;
  transition: opacity 0.3s;

}
.note-controls:hover{
  opacity: 1;
  transition: 0.3s;
}

.note-controls i{
  font-size: 1.2rem !important;
  margin-top: 1rem;
}

/* colors-container */

.colors-container{
  position: absolute;
  width: 210px;
  height: 35px;
  border: 1px solid #0000004f;
  z-index: 1;
  background-color: rgb(247, 242, 242);
  border-radius: 10px;
  right: 10px;
  bottom: -25px;
  padding: 5px;
  box-shadow: inset 0 0 1px 0px black;
}

.colors-container >*{
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 2px;
  border-radius: 15px;
  border: 2px solid black;
  opacity: 0.7;
}

.colors-container span:hover{
  border: 1px solid black;
  opacity: 1;
  cursor: pointer;
}

/* note-video cmp */

.video-responsive{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; 
  margin-bottom: 0.75rem;
}
.video-responsive iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* note-todoList component*/

.todo-list {
  padding-inline-start: 1rem;
  font-weight: bold;
  cursor: grab;
}

.todo-list .add-todo {
  margin: 0.8rem 0;
  font-size: 1.25rem !important;
  opacity: 0.55;
  transition: opacity 0.3s;
}

.todo-list .add-todo:hover {
  opacity: 1;
  transition: 0.3s;
}

.todo-list .add-todo input {
  border-radius: 5px;
  padding: 0.25rem;
}


.todo-list .add-todo i {
  margin-inline-end: 0.5rem;
}

.todo-list label {
  cursor: pointer;
  justify-content: space-between;
  padding-inline-end: 0.5rem;
  margin-bottom: 1.5rem;
}

.todo-list label:first-child {
  margin-top: 1rem;
}

.marked {
  text-decoration: line-through
}

.edit {
  padding-top: 1rem;
  align-self: center;
}

.edit input {
  width: 150px;
}

/* note-text component */

.note-text {
  padding-top: 0.5rem;
}