.note-container {
  margin: 1rem;
}

.note-list {
border-top: 1px solid #ddd;
}


.note-list h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: grey;
}


