
.note-add {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: fit-content;
  margin-bottom: 2rem;
}

.note-add input {
  padding-inline-start: 0.5rem;
 border: none;
 font-size: 1.2rem;
 min-width: 200px;
 min-height: 3rem;
}

.note-add input:focus {
  outline: none;
  border: none;
}

.add-container {
  transition: box-shadow .3s;
  flex-wrap: wrap;
  border: 2px solid #eee;
  border-radius: 10px;
}

.add-container:hover{
  box-shadow: 0 0 11px rgba(32, 32, 32, 0.3); 
}

.add-container i{
  font-size: 20px !important;
  margin-inline-end: 0.75rem;
  padding: 0.5rem;
  opacity: 0.8;
}

.add-container i:hover{
  cursor: pointer;
  background-color: #dddd;
  border-radius: 10px;
  transition: 0.5s;
  opacity: 1;
}

.add-container i:focus{
  opacity: 1;
}

.active {
  color: red;
}

@media (min-width: 700px) {
  .note-add input {
  min-width: 420px;
  }
}
