.note-preview {
  border: 2px solid black;
  padding: 0.75rem;
}

.note-preview img{
  max-width: 200px;
}

/* note-video cmp */

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}