.note-filter {
  margin-bottom: 2rem;
  width: fit-content;
  background-color: #fff;
  padding-inline-start: 0.5rem;
  min-height: 3rem;
}


.note-filter label {
  margin-inline-end: 0.5rem;
}

.note-filter label input {
  padding-inline-start: 0.5rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
}

.note-filter label input:focus {
  border: none;
}

.note-filter select {
  outline: 0;
  border: 0;
}